<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-info text-white">
      <h4>Verificación de Identidad</h4>
    </div>

    <div class="card-body">
      <label for="idDocument" class="form-label">Cargar Foto de Documento de Identidad, Comprobante de domicilio, Comprobante de estado de cuenta </label>
      <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <input type="file" class="form-control" name="documents" required multiple>
          <div class="form-text text-muted">
            Sube una imagen clara de tu documento de identidad para que podamos verificar tu cuenta.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Subir y Verificar</button>
      </form>
    </div>
  </div>
</div>

